<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="InsuranceBrokerSystem">
<listeners>
	<listener class-name="com.qa.utilities.Reporting"/>
</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.qa.testcases.TC_Login" />
			<class name="com.qa.testcases.TC_MultipleLoginDDT" />
			<class name="com.qa.testcases.TC_RequestQuotation" />  
			<class name="com.qa.testcases.TC_Logout" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
